html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.blog-post-body h2 {
	font-size: 1.8em;
	border-bottom: 1px solid #ddd;
	padding-bottom: 0.1em;
	font-weight: bold;
	line-height: 1.5;
	font-feature-settings: "palt";
	margin-top: 2.2em;
	margin-bottom: 2.4rem;
	cursor: pointer;
	position: relative;
}
.blog-post-body h3 {
	font-size: 1.4em;
}
.blog-post-body p {
	margin: 0 0 1.6em;
	line-height: 1.75;
	font-size: 16px;
}
.blog-post-body a {
	color: #0044cc;
	font-size: 16px;
}
.blog-post-body a:hover {
	text-decoration: underline;
}
.blog-post-body a:visited {
	color: #6200ac;
}
.blog-post-body li {
	margin-left: 40px;
}