@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	#blog-post-body h2 {
		font-size: 1.8em;
		border-bottom: 1px solid #ddd;
		padding-bottom: 0.1em;
		font-weight: bold;
		line-height: 1.5;
		font-feature-settings: "palt";
		margin-top: 2.2em;
		margin-bottom: 2rem;
		cursor: pointer;
		position: relative;
	}
	#blog-post-body h3 {
		font-size: 1.4em;
		font-weight: bold;
	}
	#blog-post-body p {
		margin: 0 0 1.6em;
		line-height: 1.75;
		font-size: 16px;
	}
	#blog-post-body a {
		color: #0044cc;
		font-size: 16px;
	}
	#blog-post-body a:hover {
		text-decoration: underline;
	}
	#blog-post-body a:visited {
		color: #6200ac;
	}
	#blog-post-body li {
		margin-left: 40px;
		font-size: 16px;
		margin-bottom: 5px;
		line-height: 1.4;
		list-style: initial;
	}
	#blog-post-body p code {
		background-color: #eee;
		padding: 0.1em 0.4em;
	}
	code.hljs {
		font-size: 18px;
	}
	canvas {
		display: none;
	}
}

@layer utilities {
	.bg-sky-blue {
		background-color: rgba(40, 180, 255, 0.55);
	}
	.translate-center {
		transform: translate(-50%, -50%);
	}
	.w-screen-2rem {
		width: calc(100% - 2rem);
	}
	.w-55per {
		width: 55%;
	}
	.w-screen-plus-32 {
		width: calc(100% + 32px);
	}
	.h-21rem {
		height: 21rem;
	}
	.blog-card {
		max-width: 325px;
		min-width: 290px;
		max-height: 350px;
		min-height: 280px;
	}
}

@responsive {
	.w-55per-responsive {
		width: 55%;
	}
	.min-h-64 {
		min-height: 64px;
	}
	.min-h-56 {
		min-height: 56px;
	}
}
